extends ../layout

block vars
  - var activeNav = 'shipments'

block content
  h2.section-title Envios
  if !shipments || shipments.length === 0
    .card
      p.empty No hay envios
  else
    .table-wrapper
      table.table
        thead
          tr
            th ID
            th Pedido
            th Estado
            th Origen
            th Destino
            th Actualizado
        tbody
          each s in shipments
            tr
              td= s.id
              td= s.orderId
              td
                span.badge= s.statusLabel
              td= `Deposito ${s.originWarehouseId}`
              td= s.destinationAddress
              td= s.updatedAtLocal
            if s.tracking && s.tracking.length
              tr
                td(colspan='6')
                  ul.timeline
                    each t in s.tracking
                      li= `${t.tsLocal} - ${t.statusLabel}`
