extends ../layout

block vars
  - var activeNav = 'products'

block content
  h2.section-title Productos
  if !products || products.length === 0
    .card
      p.empty No hay productos
  else
    .table-wrapper
      table.table
        thead
          tr
            th ID
            th SKU
            th Nombre
            th Precio
            th Activo
        tbody
          each p in products
            tr
              td= p.id
              td= p.sku
              td= p.name
              td= p.priceARS
              td= p.active ? 'si' : 'no'
