extends ../layout

block vars
  - var activeNav = 'orders'

block content
  h2.section-title Pedidos
  if !orders || orders.length === 0
    .card
      p.empty No hay pedidos
  else
    .table-wrapper
      table.table
        thead
          tr
            th ID
            th Cliente
            th Total
            th Estado
            th Creado
        tbody
          each o in orders
            tr
              td= o.id
              td= o.customerName
              td= o.totalARS
              td
                span.badge= o.statusLabel
              td= o.createdAtLocal
