extends ../layout

block vars
  - var activeNav = 'invoices'

block content
  h2.section-title Facturas
  if !invoices || invoices.length === 0
    .card
      p.empty No hay facturas
  else
    .table-wrapper
      table.table
        thead
          tr
            th ID
            th Pedido
            th Cliente
            th Monto
            th Estado
            th Emitida
        tbody
          each i in invoices
            tr
              td= i.id
              td= i.orderId
              td= i.customerName
              td= i.amountARS
              td
                span.badge= i.statusLabel
              td= i.createdAtLocal
