extends ../layout

block content
  h2 Stock
  if !stock || stock.length === 0
    p No hay registros de stock
  else
    table(border="1" cellpadding="6" cellspacing="0")
      thead
        tr
          th id
          th depósito
          th producto
          th cantidad
      tbody
        each s in stock
          tr
            td= s.id
            td= s.warehouseName
            td
              | #{s.productSku} - #{s.productName}
            td= s.qty

