extends ../layout

block vars
  - var activeNav = 'stock'

block content
  h2.section-title Stock
  if !stock || stock.length === 0
    .card
      p.empty No hay registros de stock
  else
    .table-wrapper
      table.table
        thead
          tr
            th ID
            th Deposito
            th Producto
            th Cantidad
        tbody
          each s in stock
            tr
              td= s.id
              td= s.warehouseName
              td #{s.productSku} - #{s.productName}
              td= s.qty
